## 3.Data scraping

- Scrape bowling stats for players from below website :
Website url : https://www.iplt20.com/stats/2022/

In [1]:
import requests
from urllib.request import urlopen as uReq
from selenium import webdriver
import time
import warnings
warnings.filterwarnings("ignore")
import pandas as pd

url = "https://www.iplt20.com/stats/2022/"
# initiating the webdriver.
driver = webdriver.Chrome('./chromedriver')
driver.get(url)

# load all data by clicking 'View All' button
btn_click = driver.find_elements_by_css_selector(".recordtab__btn")

for u in btn_click:
    if u.text == "Bowling":
        u.click()
        time.sleep(1)
        # load all data by clicking 'View All' button
        btn_click = driver.find_element_by_css_selector(".np-mostrunsTab__btn a")
        #perform click with execute_script
        driver.execute_script("arguments[0].click();", btn_click);
        
        table2 = driver.find_element_by_css_selector(".np-mostrunsTableBg table.np-mostruns_table")
        
        all_data = table2.text
        
        # collecting the data
        all_li, player_li = [], []
        row_len = len(all_data.split('\n'))

        for i in range(3,row_len,3):
            all_li.append(all_data.split('\n')[i].split(' '))

        for i in range(2,row_len,3):
            player_li.append(all_data.split('\n')[i])

        table_cols = all_data.split('\n')[0].split(' ')

        # inseting data in dataframe
        df_ipl = pd.DataFrame(all_li, columns = table_cols[2:])
        df_ipl['Player'] = player_li

        # shift column 'Player' to first position
        first_column = df_ipl.pop('Player')
        df_ipl.insert(0, 'Player', first_column)

        df_ipl.to_csv(r'ipl_bowling_stats.csv', index = False)
        driver.close()
df_ipl.head(10)

              Player Mat Inns    Ov Runs Wkts   BBI    Avg  Econ     SR 4w 5w
0   Yuzvendra Chahal  17   17  68.0  527   27  40/5  19.51  7.75  15.11  1  1
1  Wanindu Hasaranga  16   16  57.0  430   26  18/5  16.53  7.54  13.15  1  1
2      Kagiso Rabada  13   13  48.0  406   23  33/4  17.65  8.45  12.52  2  0
3        Umran Malik  14   14  49.1  444   22  25/5  20.18  9.03  13.40  1  1
4      Kuldeep Yadav  14   14  49.4  419   21  14/4  19.95  8.43  14.19  2  0
5     Mohammad Shami  16   16  61.0  488   20  25/3  24.40  8.00  18.30  0  0
6     Josh Hazlewood  12   12  46.3  377   20  25/4  18.85  8.10  13.95  1  0
7        Rashid Khan  16   16  63.5  421   19  24/4  22.15  6.59  20.15  1  0
8      Harshal Patel  15   15  53.3  410   19  34/4  21.57  7.66  16.89  1  0
9    Prasidh Krishna  17   17  66.3  551   19  22/3  29.00  8.28  21.00  0  0

In [2]:
df_ipl

,Player,Mat,Inns,Ov,Runs,Wkts,BBI,Avg,Econ,SR,4w,5w
0,Yuzvendra Chahal,17,17,68.0,527,27,40/5,19.51,7.75,15.11,1,1
1,Wanindu Hasaranga,16,16,57.0,430,26,18/5,16.53,7.54,13.15,1,1
2,Kagiso Rabada,13,13,48.0,406,23,33/4,17.65,8.45,12.52,2,0
3,Umran Malik,14,14,49.1,444,22,25/5,20.18,9.03,13.40,1,1
4,Kuldeep Yadav,14,14,49.4,419,21,14/4,19.95,8.43,14.19,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
98,Shreyas Gopal,1,1,3.0,34,1,34/1,34.00,11.33,18.00,0,0
99,Fabian Allen,1,1,4.0,46,1,46/1,46.00,11.50,24.00,0,0
100,Sean Abbott,1,1,4.0,47,1,47/1,47.00,11.75,24.00,0,0
101,Riyan Parag,17,4,4.0,59,1,12/1,59.00,14.75,24.00,0,0
102,Dewald Brevis,7,1,0.3,8,1,8/1,8.00,16.00,3.00,0,0